<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <div class="col-2 col-sm-2 d-lg-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        
        <div class="col-10 col-lg-2 d-none d-sm-block text-center">
            <a class="navbar-brand" href="#">
                <img src="./src/img/logo-png.png" alt="logo-menu" class="img-fluid img-logo">
            </a>
        </div>
    
        <div class="col-12 col-md-8 collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Learn</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Ranking</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Support</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-2">
            
        </div>
    </div>
    
</nav>