.navbar-light
    background-color: $color-white
    height: $navbar-height
    padding: 0px 0px 
    
    .navbar-toggler
        
        .navbar-toggler-icon
            
    .img-logo
        margin-top: 10px
        width: 120px
    
    .navbar-collapse.show
        background-color: $color-white
        //justify-content: left !important

    .navbar-collapse
        .navbar-nav
            .nav-item
                margin-right: 30px
            .nav-item .nav-link
                color: $purple-500
                font-weight: $font-semiBold

            .nav-item.active .nav-link
                border-bottom: 3px solid $purple-500
                font-weight: $font-bold