@import molecules/mixins

body
    background-color: white
    font-family: 'Source Serif Pro', serif
    font-weight: $font-regular
    /*, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif*/
    padding-top: $navbar-height
    z-index: 0

h1
    @include font_size(38px)
    font-weight: $font-bold
h2
    @include font_size(32px)
    font-weight: $font-bold
h2
    @include font_size(28px)
    font-weight: $font-bold

.row-header
    margin: 0px auto
    padding: 0px auto

.row-content
    margin: 0
    padding: 30px 0